@page "/"
@namespace Blazr.Demo.Authorization.UI

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="mt-2 p-2 text-center bg-primary">
    Hello World
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
